<div id="addBox">
    <div id="todoListWeek" class="font-weight-bold my-3 p-3 category">추가 페이지</div>
    <div id="addingBox" class="my-3 p-3">
        <div class="d-flex">
            <div class="m-2 p-3 addingBtn scheduleAdd">일정 추가</div>
            <div class="m-2 p-3 addingBtn categoryAdd">카테고리 추가</div>
            <div class="m-2 p-3 addingBtn subcategoryAdd">서브 카테고리 추가</div>
        </div>
        <div class="addingCategory">
            <div class="m-2">
                <div class="font-weight-bold mb-3">카테고리 선택</div>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <div class="category-color"></div>
                        <div class="ml-3">대충 이름</div>
                        <button class="ml-5 btn btn-primary">선택</button>
                    </div>
                </div>
                <div class="font-weight-bold mb-3">서브 카테고리 이름</div>
                <input type="text" class="form-control mb-3" placeholder="이름을 입력하세요.">
            </div>
        </div>
    </div>
</div>