<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/specificLayout}">
<th:block layout:fragment="content">
  <section class="contents h-100 ">

    <div class="w-100 h-90 my-3">
      <div id="todolistBox" class="w-90 h-100 p-3 mb-3">
        <div class="font-weight-bold p-3 category">주간 할 일 목록</div>
        <div class="my-2">
          <div class="d-flex align-items-center category p-2">
            <div class="category-color mr-3"></div>
            <div>일</div>
          </div>
          <div>
            <div class="d-flex my-3">
              <div class="subcategory-color mr-3 mt-2"></div>
              <div>
                <div class="mb-4 mt-1">A 프로젝트</div>
                <div class="todolist">
                  <div class="my-3">AAA하기</div>
                  <div class="my-3">AAA하기</div>
                  <div class="my-3">AAA하기</div>
                </div>
              </div>
            </div>
            <div class="d-flex my-3">
              <div class="subcategory-color mr-3 mt-2"></div>
              <div>
                <div class="mb-4 mt-1">A 프로젝트</div>
                <div>
                  <div class="ml-3 my-3">하기하기하기하기하기</div>
                  <div class="ml-3 my-3">AAA하기</div>
                  <div class="ml-3 my-3">AAA하기</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-2">
          <div class="d-flex align-items-center category p-2">
            <div class="category-color mr-3"></div>
            <div>일</div>
          </div>
          <div class="todolist">
            <div class="my-3">AAA하기</div>
            <div class="my-3">AAA하기</div>
          </div>
          <div class="d-flex my-3">
            <div class="subcategory-color mr-3 mt-2"></div>
            <div>
              <div class="mb-4 mt-1">A 프로젝트</div>
              <div class="todolist">
                <div class="my-3">AAA하기</div>
                <div class="my-3">AAA하기</div>
                <div class="my-3">AAA하기</div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-2">
          <div class="d-flex align-items-center category p-2">
            <div class="category-color mr-3"></div>
            <div>일</div>
          </div>
          <div class="todolist">
            <div class="my-3">AAA하기</div>
            <div class="my-3">AAA하기</div>
          </div>
          <div class="d-flex my-3">
            <div class="subcategory-color mr-3 mt-2"></div>
            <div>
              <div class="mb-4 mt-1">A 프로젝트</div>
              <div class="todolist">
                <div class="my-3">AAA하기</div>
                <div class="my-3">AAA하기</div>
                <div class="my-3">AAA하기</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button id="addBtn" class="btn btn-primary form-control">일정 추가</button>
    </div>
  </section>
</th:block>