<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sketchuling.schedule.mapper.ScheduleMapper">
    <select id="selectScheduleListByUserIdAndDate" parameterType="map" resultType="com.sketchuling.schedule.domain.Schedule">
        SELECT
            `categoryId`,
            `startTime`,
            `endTime`
        FROM `schedule`
        WHERE
            `userId` = #{userId}
        AND
            DATE(`startTime`) = #{date}
    </select>

    <insert id="insertSchedule" parameterType="map">
        INSERT INTO `schedule`
        (
            `userId`,
            `categoryId`,
            `startTime`,
            `endTime`,
            `createdAt`,
            `updatedAt`
        )
        VALUES
        (
            #{userId},
            #{categoryId},
            #{startTime},
            #{endTime},
            NOW(),
            NOW()
        )
    </insert>
</mapper>