<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sketchuling.to_do_list.mapper.To_do_listMapper">
    <select id="selectTodolistBySubcategoryId" parameterType="map">
        SELECT
            `todolist`,
            `isChecked`
        FROM
            `to_do_list`
        WHERE
            <![CDATA[
            `createdAt` >= #{start}
          AND
            `createdAt` < #{end}
            ]]>
          AND `subcategoryId` = #{subcategoryId}
    </select>

    <select id="selectTodolistByCategoryId" parameterType="map">
        SELECT
            `todolist`,
            `isChecked`
        FROM
            `to_do_list`
        WHERE
            <![CDATA[
            `createdAt` >= #{start}
        AND
            `createdAt` < #{end}
            ]]>
        AND `categoryId` = #{categoryId}
        AND `subcategoryId` IS NULL
    </select>
    <select id="selectToDoListByUserIdAndCreatedAt" resultType="map">
        SELECT
            t.id AS id,
            t.todolist,
            t.isChecked,
            t.createdAt AS toDoCreatedAt,
            c.id AS categoryId,
            c.name AS categoryName,
            s.id AS subcategoryId,
            s.name AS subcategoryName
        FROM
            to_do_list t
        LEFT JOIN
            subcategory s
        ON
            t.subcategoryId = s.id
        LEFT JOIN
            category c
        ON
            t.categoryId = c.id
        WHERE
            c.userId = #{userId}
        AND
            t.`createdAt` >= #{start}
        AND
            t.`createdAt` &lt; #{end}
    </select>
    <select id="selectToDoListByCategoryIdAndCreatedAt" resultType="map">
        SELECT
            t.id AS id,
            t.todolist,
            t.isChecked,
            t.createdAt AS toDoCreatedAt,
            c.id AS categoryId,
            c.name AS categoryName,
            s.id AS subcategoryId,
            s.name AS subcategoryName
        FROM
            to_do_list t
        LEFT JOIN
            subcategory s
        ON
            t.subcategoryId = s.id
        LEFT JOIN
            category c
        ON
            t.categoryId = c.id
        WHERE
            t.`createdAt` >= #{start}
        AND
            t.`createdAt` &lt; #{end}
        AND c.id IN
        <foreach item="id" collection="categoryIdList" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>
</mapper>

