<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sketchuling.to_do_list.mapper.To_do_listMapper">
    <select id="selectToDoListByUserIdAndCreatedAt" resultType="map">
        SELECT
            t.id AS id,
            t.todolist,
            t.isChecked,
            c.id AS categoryId,
            c.name AS categoryName,
            c.color AS categoryColor,
            s.id AS subcategoryId,
            s.name AS subcategoryName
        FROM
            to_do_list t
        LEFT JOIN
            subcategory s ON t.subcategoryId = s.id
        LEFT JOIN
            category c ON t.categoryId = c.id
        WHERE
            c.userId = #{userId}
        AND
            <![CDATA[
            (t.createdAt >= #{start}
        AND
            t.createdAt < #{end})
            ]]>
        OR
            t.isChecked = false
    </select>
    <select id="selectToDoListByCategoryIdAndCreatedAt" resultType="map">
        SELECT
            t.id AS id,
            t.todolist,
            t.isChecked,
            t.createdAt AS toDoCreatedAt,
            c.id AS categoryId,
            c.name AS categoryName,
            c.color AS categoryColor,
            s.id AS subcategoryId,
            s.name AS subcategoryName
        FROM
            to_do_list t
        LEFT JOIN
            subcategory s ON t.subcategoryId = s.id
        LEFT JOIN
            category c ON t.categoryId = c.id
        WHERE
            t.isChecked = false
        OR
        <![CDATA[(t.createdAt >= #{start} AND t.createdAt < #{end})]]>
            <if test="categoryIdList != null and categoryIdList.size() > 0">
        AND c.id IN
            <foreach item="id" collection="categoryIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <update id="updateCheckByTodolistId" parameterType="map">
        UPDATE
            `to_do_list`
        SET
            `isChecked` = #{isChecked},
            `updatedAt` = NOW()
        WHERE
            `id` = #{id}
    </update>
</mapper>

