<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sketchuling.to_do_list.mapper.To_do_listMapper">
    <select id="selectToDoListByUserIdAndCreatedAt" resultType="map">
        SELECT
            t.id AS toDoId,
            t.todolist,
            t.isChecked,
            t.createdAt AS toDoCreatedAt,
            c.id AS categoryId,
            c.name AS categoryName,
            s.id AS subcategoryId,
            s.name AS subcategoryName
        FROM
            to_do_list t
        LEFT JOIN
            subcategory s
        ON
            t.subcategoryId = s.id
        LEFT JOIN
            category c
        ON
            t.categoryId = c.id
        WHERE
            c.userId = #{userId}
        AND
            `createdAt` >= #{start}
        AND
            `createdAt` &lt; #{end}
    </select>
</mapper>

