<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/channelLayout}">
<th:block layout:fragment="content">
    <section class="contents">

        <div id="calenderBox" class="d-flex justify-content-center align-items-center p-2">
            <div id="calender">
                <div>
                    <div class="d-flex justify-content-center mb-2">N월 N주차</div>
                    <div class="d-flex justify-content-between">
                        <div>< 지난주</div>
                        <div>다음주 ></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dayBox" class="d-flex justify-content-between">
            <a href="/channel/specific" class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center">
                            월
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
            <a href="/channel/specific" class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center">
                            화
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
            <a href="/channel/specific"  class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center">
                            수
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
            <a href="/channel/specific"  class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center">
                            목
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
            <a href="/channel/specific"  class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center">
                            금
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
            <a href="/channel/specific"  class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center text-primary">
                            토
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
            <a href="/channel/specific"  class="date">
                <div class="specificDate d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center text-danger">
                            일
                        </div>
                        <div class="d-flex justify-content-center">
                            12/31
                        </div>
                    </div>
                </div>
                <div class="dateBar d-flex justify-content-center align-items-center">
                    <div class="bar"></div>
                </div>
            </a>
        </div>
    </section>
</th:block>