<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/signLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center align-items-center h-100">
        <div id="sign-in-box" class="d-flex justify-content-center align-items-center">
            <div class="text-center w-50">
                <div class="display-4">Sketchuling</div>
                <form method="post" action="/user/sign-in" id="signInForm">
                    <input name="id" class="form-control mt-5 mb-3" type="text" placeholder="아이디">
                    <input name="password" class="form-control mb-3" type="password" placeholder="비밀번호">
                    <button type="submit" id="loginBtn" class="btn btn-success form-control mb-3">로그인</button>
                </form>
                <div class="d-flex align-items-center justify-content-center mt-2 mb-4"><span class="text-success mr-2">또는</span>카카오 계정으로 로그인 <div id="kakao" class="ml-4"></div></div>
                <div class="mb-2">계정이 없으신가요? <a href="/user/sign-up" class="ml-4">회원가입</a></div>
                <div class="mb-2">아이디, 비밀번호 찾기 <a href="/user/recover" class="ml-4">계정 복구</a></div>
            </div>
        </div>
    </section>
    <script>
        $(function(){
            $("#signInForm").on("submit", function(e){
                e.preventDefault();

                let loginId = $("input[name=id]").val().trim();
                let password = $("input[name=password]").val().trim();

                if(!loginId){
                    alert("아이디를 입력하세요.");
                }
                if(!password){
                    alert("비밀번호를 입력하세요.");
                }

                let url = $(this).attr("action");
                let params = $(this).serialize();

                $.post(url, params)
                    .done(function(data){
                        if(data.code == 200){
                            location.href = "/main/"
                        } else{
                            alert(data.error_message);
                        }
                    });
            });
        });
    </script>
</th:block>