<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <header class="w-100 d-flex align-items-end">
    <div class="h-98 w-5 d-flex justify-content-center">
      <div class="w-80">
        <a href="/main" class="circle d-flex justify-content-center align-items-center">
          호므
        </a>
        <div class="line my-3"></div>
        <a href="/channel" class="mb-2 circle d-flex justify-content-center align-items-center">
          마바사아
        </a>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          자차타카
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          파하가나
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          가나다라
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          마바사아
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          자차타카
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          파하가나
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          가나다라
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          마바사아
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          파하가나
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          가나다라
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          마바사아
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          파하가나
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          가나다라
        </div>
        <div class="mb-2 circle d-flex justify-content-center align-items-center">
          마바사아
        </div>
      </div>
    </div>
    <th:block th:replace="fragments/specificSection :: sectionFragment"></th:block>
  </header>
</th:block>
</html>