body{
    background-color:#282828;
}
html, body, #wrap{
    height: 100%;
}
header{
    width: 100%;
}
.section{
    width: 95%;
    height: 98.5%;
    background-color: white;
    border-top-left-radius: 15px;
}
.contents{
    width: 90%;
    background-color: white;
    border-top-left-radius: 15px;
}
#home{
    position: fixed;
}
.w-5{
    width: 5%;
}
.w-20{
    width: 10%;
}
.w-90{
    border-radius: 20px;
    width: 98%;
}
.w-80{
    width: 80%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
}
.w-80::-webkit-scrollbar{
    display:none;
}
.h-98{
    height: 98.5%;
}
.circle{
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    background-color: white;
    border-radius: 50%;
}
.line{
    width: 100%;
    height: 1%;
    background-color: white;
    border-radius: 5px;
}
#todolistBox{
    background-color: #868686;
    overflow: auto;
    scrollbar-width: none;
}
#todolistBox::-webkit-scrollbar{
    display:none;
}
.h-90{
    height: 90%;
    overflow: auto;
    scrollbar-width: none;
}
.h-90::-webkit-scrollbar{
    display:none;
}
.category-color{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: salmon;
}
.subcategory-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #282828;
    margin-left: 35px;
}
.todolist{
    padding-left: 20px;
}
.category{
    border-radius: 25px;
    background-color: #282828;
    color: white;
}
#todoListWeek{
    border-radius: 15px;
    background-color: #282828;
    color: white;
}
#calenderBox{
    height: 5%;
}
#dayBox{
    height: 95%
}
.date{
    width: 100%;
    background-color: deeppink;
}
.specificDate{
    height: 8%;
    background-color: white;
}
.dateBar{
    height: 92%;
    background-color: white;
}
.bar{
    height: 95%;
    width: 20%;
    background-color: #606060;
    border-radius: 15px;
}
#addBtn{
    width: 98%;
    height: 5%;
    border-radius: 25px;
}
#addBtn:hover{
    background-color: #007bff;
    color: white
}
.subcategory{
    background-color: white;
    border-radius: 15px;
}
#todoListWeek{
    border-radius: 25px;
    background-color: #282828;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.task-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.task-content {
    font-size: 16px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* 완료된 Task 스타일 */
.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}